.joke:first-child{
    margin-top:100px;
}
.joke{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
    opacity: 0.5;
    -webkit-transition: width 1s,margin-left 1s !important;
    transition: width 1s,margin-left 1s !important;
    -webkit-animation: slide-up-fade-in ease 1s;
    animation: slide-up-fade-in ease 1s;
}
.joke:hover{
    opacity: 1;
    width: 70%;
    margin-left: 15%;
}
@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:0.5;
        transform:  translate(0px,0px)  ;
    }
}
@-webkit-keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:0.5;
        transform:  translate(0px,0px)  ;
    }
}
.joke-text{
    font-size: 1.5em;
    width: 80%;
    margin-top: 20px;
    color: gray;
    font-style: italic;
}
.quote-icon{
    width: 5%;
    font-size: 2em;
    margin-left: 5%;
}
.joke-text-wrapper{
    display: flex;
    justify-content: flex-start;
}
.posted-at{
    float: right;
    top:10px;
    right: 10px;
    position: absolute;
    color:gray; 
    font: 'Roboto';
}